<ul ngbNav #nav="ngbNav" class="nav-tabs tabset__container">
    <li ngbNavItem>
      <a ngbNavLink>Plan details</a>
      <ng-template ngbNavContent>
          <div class="tab__content">
            <div class="accordian_container">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Can my non-working spouse also avail this plan?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Yes, you can take the same plan for your non-working spouse but the spouse should be a graduate and the cover will be based on the spouse’s income.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Can I take the same plan for my parents/ siblings/ in-laws/ children? What will be the cover offered?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Yes, you can take the same plan for your parents/siblings/in-laws/children if they can provide the following documents:
              
                      1. Age Proof- Must be between 18 to 65 years
                      2. Income Proof- Salaried or self-employed with salary more than Rs. 3 lac
                      3. Qualification Proof- HSC and above
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      If I quit my Job/go for higher studies/start my own business, will this plan continue?                    
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Yes, you can take the same plan for your parents/siblings/in-laws/children if they can provide the following documents:
              
                      1. Age Proof- Must be between 18 to 65 years
                      2. Income Proof- Salaried or self-employed with salary more than Rs. 3 lac
                      3. Qualification Proof- HSC and above
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

     </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Payment and application related</a>
      <ng-template ngbNavContent>
        <div class="tab__content">
          <div class="accordian_container">
            <div class="accordion" id="accordionExample2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne2">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                    What is the process once the payment is done?
                  </button>
                </h2>
                <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
                  <div class="accordion-body">
                    Yes, you can take the same plan for your non-working spouse but the spouse should be a graduate and the cover will be based on the spouse’s income.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What are the modes of payment available?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample2">
                  <div class="accordion-body">
                    Yes, you can take the same plan for your parents/siblings/in-laws/children if they can provide the following documents:
  
                    1. Age Proof- Must be between 18 to 65 years
                    2. Income Proof- Salaried or self-employed with salary more than Rs. 3 lac
                    3. Qualification Proof- HSC and above
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree3">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    In how many days can I submit the required KYC documents once the payment is done?                   
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree3" data-bs-parent="#accordionExample2">
                  <div class="accordion-body">
                    Yes, you can take the same plan for your parents/siblings/in-laws/children if they can provide the following documents:
  
                    1. Age Proof- Must be between 18 to 65 years
                    2. Income Proof- Salaried or self-employed with salary more than Rs. 3 lac
                    3. Qualification Proof- HSC and above
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Generic</a>
        <ng-template ngbNavContent>
            <div class="tab__content">
              <div class="accordian_container">
                <div class="accordion" id="accordionExample3">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne3">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                        How much life cover will I get?
                      </button>
                    </h2>
                    <div id="collapseOne3" class="accordion-collapse collapse show" aria-labelledby="headingOne3" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        Yes, you can take the same plan for your non-working spouse but the spouse should be a graduate and the cover will be based on the spouse’s income.
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo3">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo3" aria-expanded="true" aria-controls="collapseTwo3">
                        Can my friend take the same plan who is working with another company? What will be the cover offered?
                      </button>
                    </h2>
                    <div id="collapseTwo3" class="accordion-collapse collapse" aria-labelledby="headingTwo3" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        Yes, you can take the same plan for your non-working spouse but the spouse should be a graduate and the cover will be based on the spouse’s income.
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree3">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#headingThree3" aria-expanded="true" aria-controls="headingThree3">
                        Can my friend take the same plan who is working with another company? What will be the cover offered?
                      </button>
                    </h2>
                    <div id="collapseThree3" class="accordion-collapse collapse" aria-labelledby="headingThree3" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        Yes, you can take the same plan for your non-working spouse but the spouse should be a graduate and the cover will be based on the spouse’s income.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
        </ng-template>
      </li>
</ul>
  
<div [ngbNavOutlet]="nav" class="tab_panel mt-4"></div>

