/* .tab_panel {
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    padding: 0 26px;
} */

li.nav-item {
    width: 33.33%;
}

.nav-tabs .nav-link {
    border: none;
    border-right: 1px solid #DADADA;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    padding: 16px;
    text-align: center;
}

.nav-tabs {
    border-top: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #003366;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 0px;
    border-bottom: 1px solid #003366;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #2B2B2B;
    width: 60%;
    margin-bottom: 24px;
}

h6 {
    margin-bottom: 16px;
    margin-top: 24px;
}

.tab__content div:last-child.border_bottom {
    border-bottom: none;
}


@media (max-width: 767px) {
    .detail {
        width: 100%;
    }
    .accordion-button{
        line-height:23px!important;
    }
    
}

/* Bootstrap Accordian */

.accordion-item {
    margin-bottom: 24px;
}
.accordion-button:not(.collapsed) {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-item {
    background-color: #fff;
    border: 1px solid #E2E2E2;   
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.accordion-button{
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 16px;
    color: #000000 !important;
}

.accordion-body {
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 21px !important;
    color: #2B2B2B !important;
}