<div class="eterm__grid mt-5 pt-5">
        

<div class="form_row">
    <label>Gender</label>
    <ul>
        <li class="gender" [ngClass]="{'active': gender === 'male'}" (click)="setGender('male');"><span>Male</span>
        </li>
        <li class="gender" [ngClass]="{'active': gender === 'female'}" (click)="setGender('female');">
            <span>Female</span></li>
    </ul>    
</div>

<div class="m-3"></div>

<!-- Input -->

<div class="form_row">
    <label>Name</label>
    <input type="text" name="name" class="inputFeild" id="" placeholder="Enter Name">
</div>

<div class="m-3"></div>

<!-- select -->

<!-- <div class="form_row">
    <label>Name</label>
    <ng-select class="inputSelect" class="inputSelect" [searchable]="false" [clearable]="false" formControlName="agree">
        <ng-option [value]="'test1'"> Test1</ng-option>
        <ng-option [value]="'test2'"> Test2</ng-option>
    </ng-select>
</div>

<div class="m-3"></div> -->

<!-- toggle -->



<!-- <div class="tooltipCustom">
    <div class="plan-toggle ml-3" (click)="toggleBenefits('personalAccidentCover')">
        <input class="toggleInput" type="checkbox" />
        <div class="toggle-tick"></div>
    </div>
   
    <div class="tooltiptextCustom" style="max-width: 320px;">
        <p class="mb-0">Enter your first name as per Government ID proof such as Aadhaar card, PAN card etc.</p>
    </div>
</div> -->

<!-- Input with Custom Tooltip -->


<!-- <div class="tooltipCustom">
    <input type="text" name="check" class="inputFeild" id="" placeholder="Enter check">

    <div class="tooltiptextCustom" style="max-width: 320px;">
        <p class="mb-0">Enter your first name as per Government ID proof such as Aadhaar card, PAN card etc.</p>
    </div>
</div> -->


<!-- Counter -->
<!-- <form action="" [formGroup]="choosePlanForm">
    <div class="form_row  mb-0">
        <div class="select_lakhs_container">
            <div class="btn-minus-plus" (click)="decrease('cancer')">
                <img src="assets/img/minus.svg" class="img-fluid">
            </div>
            <div class="select-lakh_input">
                <label> ₹ </label>
                <input type="text" formControlName="cancer" placeholder="0" maxlength="3">                
            </div>
            <div class="btn-minus-plus" (click)="increase('cancer')">
                <img src="assets/img/plus.svg" class="img-fluid">
            </div>
        </div>
    </div>
</form> -->



<!-- Custom dropdown -->



CHECK
<form [formGroup]="residentialForm">
    <div class="form_row">
        <label>My Date of births</label>
        <input [ngClass]="{'errorInput': formSubmitted && residentialForm.get('birthdate')|| formSubmitted && residentialForm.get('birthdate') }" class="date-icon inputFeild" readonly placeholder="DD MMM YYYY" formControlName="birthdate"
        ngbDatepicker autocomplete="off" #datePicker="ngbDatepicker" (click)="datePicker.toggle()" [minDate]="minDate">
    </div>

    <div class="form_row">
        <label>Occupation</label>
        <div ngbDropdown class="customDD tooltipCustom input">
          <input
            class="inputFeild dropdown-toggle mt-0" readonly ngbDropdownToggle formControlName="occupation"
            placeholder="Select Occupation" required>
            <div class="tooltiptextCustom" style="max-width: 320px;">
                <p class="mb-0">Enter your First Name</p>
            </div>
            <span ngbDropdownToggle></span>
          <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let occupation of occuStatuses" value="occupation.value"
              (click)="assignDropdownVal('occupation', occupation.label)">{{ occupation.label }}</button>
          </div>
        </div>
    </div>
</form>



<!-- <form [formGroup]="residentialForm">
    <div class="form_row">
        <div class="d-flex align-item-center">
            <label>Gender</label>
            <div class="tooltipCustom input">
               <img class="infoIcon" src="assets/img/info-icon.svg" alt="">
            
                <div class="tooltiptextCustom" style="max-width: 320px;">
                    <p class="mb-0">Gender</p>
                </div>
            </div> 
        </div>
        <div ngbDropdown class="customDD">
          <input
            class="inputFeild dropdown-toggle mt-0" readonly ngbDropdownToggle formControlName="occupation"
            placeholder="Select Occupation" required><span ngbDropdownToggle></span>
          <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let occupation of occuStatuses" value="occupation.value"
              (click)="assignDropdownVal('occupation', occupation.label)">{{ occupation.label }}</button>
          </div>
        </div>
      </div>
</form> -->

INFO HOVER TOOLTIP
<div class="form_row">
    <div class="tooltipCustom input">
        
        <div class="infoIcon">
            <img src="assets/img/info-icon.svg" alt="">
        </div>
        <div class="tooltiptextCustom" style="max-width: 320px;">
            <p class="mb-0">Enter your First Name</p>
        </div>
    </div>                                        
</div>

<div class="form_row">
    <div class="tooltipCustom input">
        <input type="text" name="check" class="inputFeild landingInput" id="" placeholder="Enter check">
    
        <div class="tooltiptextCustom" style="max-width: 320px;">
            <p class="mb-0">Enter your First Name</p>
        </div>
    </div>                                        
</div>


<form [formGroup]="residentialForm">
    <div class="form_row">
        <div class="d-flex align-item-center">
            <label>info input hover </label>
            <div class="tooltipCustom input">
               <img class="infoIcon" src="assets/img/info-icon.svg" alt="">
            
                <div class="tooltiptextCustom" style="max-width: 320px;">
                    <p class="mb-0">Gender</p>
                </div>
            </div> 
        </div>
        <div ngbDropdown class="customDD">
          <input
            class="inputFeild dropdown-toggle mt-0" readonly ngbDropdownToggle formControlName="occupation"
            placeholder="Select Occupation" required><span ngbDropdownToggle></span>
          <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let occupation of occuStatuses" value="occupation.value"
              (click)="assignDropdownVal('occupation', occupation.label)">{{ occupation.label }}</button>
          </div>
        </div>
      </div>
</form>
</div>


<!-- <div class="form_row">
    <label>Date of birth</label>
    <input class="inputFeild" readonly placeholder="Date of birth" formControlName="birthdate"
    ngbDatepicker autocomplete="off" #datePicker="ngbDatepicker" (click)="datePicker.toggle()" [minDate]="minDate">                                  
 </div> -->