<div class="kotak_navbar">
    <div class="eterm__grid">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-6">
                    <div class="header_logo">
                        <img src="assets/img/kotak-logo.png" alt="">
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <div *ngIf="router.url != '/landing'">
                        <div class="header_item quote" >QUOTE ID: <br>
                            667356FG</div>
                    </div>
                    <div *ngIf="router.url === '/landing'">
                        <button class="header_item errorMsg" style="font-size: 16px;">Continue application</button>
                    </div>
                    <div class="header_item email">
                        <a href="mailto:kli.einsurance@kotak.com">
                            <img src="assets/img/email.png" alt="">
                        </a>
                    </div>
                    <div class="header_item contact">
                        <a href="tel:+496170961709">
                            <img src="assets/img/contact.png" alt="">
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


