@media (max-width: 767px) {
    .fixed_calculated_amount {
        margin: 170px 0;
    }
}

.errorInput {
    border: 1px solid #ee1d24!important;
}

@media (max-width: 767px) {
    .form_row {
        margin-bottom: 24px !important;
    }
}

.tooltipCustom .infoIcon:hover~.tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -56px;
    left: -8px;
}

.tooltiptextCustom.sum {
    top: -99px !important;
}

.tooltiptextCustom.policy,
.tooltiptextCustom.paying,
.tooltiptextCustom.frequency,
.tooltiptextCustom.payout {
    top: -76px !important;
}



.ngbDropdownMenu button.payingStatuses:last-child .label-paying .hightlight_green {
    color: #727272;
}

.customDD.payout .dropdown-menu.show {
    width: 300px !important;
    right: 0 !important;
    left: unset !important;
}

.customDD.payout .dropdown-menu.show button.dropdown-item {
    border-bottom: 1px solid #dadada;
    padding: 14px 22px;
}

.customDD.payout .dropdown-menu.show button:last-child.dropdown-item {
    border-bottom: none !important;
}

.dropdown_head {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 6px;
}

.dropdown_para {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    white-space: normal;
}

.showNestedPopover {
    /* position: relative; */
}

.popover {
    background: #FAFAFA;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    padding: 20px;
    right: 0;
    top: 0;
    position: absolute;
}

.showNestedPopover .popover {
    left: calc(-100% + 15px);
}


@media (max-width: 767px) {    
    label.label_sm, *::placeholder{
        white-space: nowrap; 
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .inputFeild {
        padding-right: 38px;
    }

}


@media (min-width: 400px) and (max-width: 767px) {
    .inputFeild {
        padding-right: 30px;
    }
}