<div class=" main__container">
    <app-sub-header></app-sub-header>

    <div class="border_bottom">
      <div class="eterm__grid">
        <div class="space__container pb-0">
            <h4 class="main_heading">We've a plan option loaded for you</h4>     
            
            <form [formGroup]="customizePlanForm">
                <div class="row">    
                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                      <div class="form_row">
                        <div class="d-flex align-items-center">
                          <label class="infoLabel">Sum assured</label>
                          <div class="tooltipCustom input">
                             <span class="infoIcon">
                              <img src="assets/img/info.svg" alt="">
                            </span>
                          
                              <div class="tooltiptextCustom sum" style="max-width: 280px;">
                                  <p class="mb-0">Your total insurance cover that nominee will get after policy holder’s demise</p>
                              </div>
                          </div> 
                      </div>
                      <div class="rupeeF">
                        <input type="text" class="inputFeild" placeholder="Enter sum assured"   formControlName="sum" [ngClass]="{'errorInput': formSubmitted && customizePlanForm.get('sum')?.hasError('required') }" (keypress)="isNumberKey($event)" (keyup)="numberWithCommas()">
                        <label class="rupee"> ₹ </label>
                        <p class="input-result">{{outputWords}}</p>

                        <!-- <input type="text" class="inputFeild" placeholder="Enter Annual sum" formControlName="sum" [ngClass]="{'errorInput': formSubmitted && customizePlanForm.get('sum')?.hasError('required') }"(keypress)="isNumberKey($event)" (keyup)="numberWithCommas()">
                        <label class="rupee"> ₹ </label>
                        <p class="input-result">{{outputWords}}</p> -->
                      </div>

                      <p class='errorMsg' *ngIf="formSubmitted && customizePlanForm.get('sum')?.hasError('required')">
                          sum field is required </p>                                    
                    </div>

                        <!-- <div class="form_row">
                            <div class="d-flex align-items-center">
                                <label class="infoLabel">Sum assured</label>
                                <div class="tooltipCustom input">
                                   <span class="infoIcon">
                                    <img src="assets/img/info.svg" alt="">
                                  </span>
                                
                                    <div class="tooltiptextCustom sum" style="max-width: 280px;">
                                        <p class="mb-0">As a common thumb rule , SA should be 10 times your annual sum</p>
                                    </div>
                                </div> 
                            </div>

                            <div ngbDropdown class="customDD">
                              <input
                                class="inputFeild dropdown-toggle mt-0" [ngClass]="{'errorInput': formSubmitted && customizePlanForm.get('sum')?.hasError('required') }"
                                 readonly ngbDropdownToggle formControlName="sum"
                                placeholder="Select Sum assured" required>
                                <span ngbDropdownToggle></span>
                              <div ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let sum of sumStatuses" value="sum.value"
                                  (click)="assignDropdownVal('sum', sum.label)">{{ sum.label }}</button>
                              </div>
                            </div>

                            <p class='errorMsg sum-err'
                            *ngIf="formSubmitted && customizePlanForm.get('sum')?.hasError('required')">Sum assured
                            field is required
                          </p>
                          </div> -->
                    </div>

                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <div class="d-flex align-items-center">
                                <label class="infoLabel">Policy term</label>
                                <div class="tooltipCustom input">
                                   <span class="infoIcon">
                                    <img src="assets/img/info.svg" alt="">
                                  </span>
                                
                                    <div class="tooltiptextCustom policy" style="max-width: 280px;">
                                        <p class="mb-0">Number of years you are covered for -</p>
                                    </div>
                                </div> 
                            </div>
                            <div ngbDropdown class="customDD">
                              <input
                                class="inputFeild dropdown-toggle mt-0" [ngClass]="{'errorInput': formSubmitted && customizePlanForm.get('policy')?.hasError('required') }"
                                 readonly ngbDropdownToggle formControlName="policy"
                                placeholder="Select policy" required>
                                <span ngbDropdownToggle></span>
                              <div ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let policy of policyStatuses" value="policy.value"
                                  (click)="assignDropdownVal('policy', policy.label)">{{ policy.label }}</button>
                              </div>
                            </div>

                            <p class='errorMsg policy-err'
                            *ngIf="formSubmitted && customizePlanForm.get('policy')?.hasError('required')">Policy term
                            field is required
                          </p>
                          </div>
                    </div>

                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <div class="d-flex align-items-center">
                                <label class="infoLabel label_sm">Premium paying term</label>
                                <div class="tooltipCustom input">
                                   <span class="infoIcon">
                                    <img src="assets/img/info.svg" alt="">
                                  </span>
                                
                                    <div class="tooltiptextCustom paying" style="max-width: 280px;">
                                        <p class="mb-0">Number of years you are paying for the policy</p>
                                    </div>
                                </div> 
                            </div>
                            <div ngbDropdown class="customDD minWidth">
                              <input
                                class="inputFeild dropdown-toggle mt-0" [ngClass]="{'errorInput': formSubmitted && customizePlanForm.get('paying')?.hasError('required') }"
                                 readonly ngbDropdownToggle formControlName="paying"
                                placeholder="Select paying" required>
                                <span ngbDropdownToggle></span>
                              <div ngbDropdownMenu class="ngbDropdownMenu">
                                <button ngbDropdownItem *ngFor="let paying of payingStatuses" value="paying.value"
                                  (click)="assignDropdownVal('paying', paying.label)" class="payingStatuses">
                                  <div class="label-paying d-flex justify-content-between align-items-center">
                                    <div>{{ paying.label }}</div>
                                    <div class="hightlight_green">{{ paying.offer }}</div>
                                  </div>
                                </button>
                              </div>
                            </div>

                            <p class='errorMsg paying-err'
                            *ngIf="formSubmitted && customizePlanForm.get('paying')?.hasError('required')">Premium paying term
                            field is required
                          </p>
                          </div>
                    </div>

                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <div class="d-flex align-items-center">
                                <label class="infoLabel">Frequency</label>
                                <div class="tooltipCustom input">
                                   <span class="infoIcon">
                                    <img src="assets/img/info.svg" alt="">
                                  </span>
                                
                                    <div class="tooltiptextCustom frequency" style="max-width: 280px;">
                                        <p class="mb-0">Choose how often you want to pay the premium</p>
                                    </div>
                                </div> 
                            </div>
                            <div ngbDropdown class="customDD">
                              <input
                                class="inputFeild dropdown-toggle mt-0" [ngClass]="{'errorInput': formSubmitted && customizePlanForm.get('frequency')?.hasError('required') }" [(ngModel)]="selectedFreq"
                                 readonly ngbDropdownToggle formControlName="frequency"
                                placeholder="Select frequency" required>
                                <span ngbDropdownToggle></span>
                              <div ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let frequency of feqStatuses" value="frequency.value"
                                  (click)="checkFreq('frequency', frequency.label, content)">{{ frequency.label }}</button>
                              </div>
                            </div>

                            <p class='errorMsg frequency-err'
                            *ngIf="formSubmitted && customizePlanForm.get('frequency')?.hasError('required')">Frequency
                            field is required
                          </p>
                          </div>
                    </div>

                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <div class="d-flex align-items-center">
                                <label class="infoLabel">Payout Option</label>
                                <div class="tooltipCustom input">
                                   <span class="infoIcon">
                                    <img src="assets/img/info.svg" alt="">
                                  </span>
                                
                                    <div class="tooltiptextCustom payout" style="max-width: 280px;">
                                        <p class="mb-0">How your nominee wants to receive the money</p>
                                    </div>
                                </div> 
                            </div>
                            <div ngbDropdown class="customDD payout">
                              <input
                                class="inputFeild dropdown-toggle mt-0" [ngClass]="{'errorInput': formSubmitted && customizePlanForm.get('payout')?.hasError('required') }"
                                 readonly ngbDropdownToggle formControlName="payout"
                                placeholder="Select payout" required>
                                <span ngbDropdownToggle></span>
                              <div ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let payout of payoutStatuses" value="payout.value"
                                  (click)="assignDropdownVal('payout', payout.label)">
                                  <div class="showNestedPopover">
                                    <div class="dropdown_head">{{ payout.label }}</div>
                                    <div class="dropdown_para">{{ payout.desc }}</div>
                                  </div>
                                </button>
                                <div class="popover">
                                  Receive a part of the coverage amount as a lump sum payout and the rest in monthly instalments.
                                  <br>
                                  Receive a part of the coverage amount as a lump sum payout and the rest in monthly instalments. Receive a part of the coverage amount as a lump sum payout and the rest in monthly instalments.
                                </div>
                              </div>
                            </div>

                            <p class='errorMsg payout-err'
                            *ngIf="formSubmitted && customizePlanForm.get('payout')?.hasError('required')">Payout Option
                            field is required
                          </p>
                          </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="space__container pt-0 bottom_sm_fixed">
        <app-calculated-amount [buttons]="buttons" (proceedWithStatus)="statusNavigate()"></app-calculated-amount>
    </div>
    </div>

    <div class="eterm__grid">
        <div class="space__container">
            <h4 class="main_heading">Frequently asked questions</h4>
            <app-tabset></app-tabset>
        </div>
        <div class="fixed_calculated_amount"></div>
    </div>
    

</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Higher monthly premium</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true"><img src="assets/img/cross-sign.svg" alt=""></span>
    </button>
  </div>
  <div class="modal-body">
    <p style="color: #000000;">With an annual payment frequency, you are eligible for a lower premium. If you 
        choose a monthly frequency you will have to pay a <b>higher premium</b>.</p>
  </div>
  <div class="modal-footer justify-content-center">
      <div class="d-flex justify-content-around align-items-center">
        <button type="button" class="primary_btn default" (click)="selectFreq('Monthly')">SELECT MONTHLY</button>
        <button type="button" class="primary_btn" (click)="selectFreq('Annually')">SELECT ANNUALLY</button>
      </div>
  </div>
</ng-template>


