<div class="main__container">
    <app-sub-header></app-sub-header>

    <div class="eterm__grid border_sm_bottom">
        <div class="space__container pb-0">
            <h4 class="main_heading">We’d like to know more about you</h4>

            <form [formGroup]="eligibilityCriteriaForm">
                <div class="row">
                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <label>Annual income</label>
                            <div class="tooltipCustom input rupeeF">
                                <input type="text" class="inputFeild" placeholder="Enter Annual income"  value="" formControlName="income" [ngClass]="{'errorInput': formSubmitted && eligibilityCriteriaForm.get('income')?.hasError('required') }" (keypress)="isNumberKey($event)" (keyup)="numberWithCommas()">
                                <label class="rupee"> ₹ </label>
                                <p class="input-result">{{outputWords}}</p>

                                <p class='errorMsg' *ngIf="formSubmitted && eligibilityCriteriaForm.get('income')?.hasError('required')">
                                    Income field is required </p>
                                <div class="tooltiptextCustom" style="max-width: 280px;">
                                    <p class="mb-0">Your total earnings in one year</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <label>Occupation</label>
                            <div ngbDropdown class="customDD tooltipCustom input">
                                <input class="inputFeild dropdown-toggle mt-0" [ngClass]="{'errorInput': formSubmitted && eligibilityCriteriaForm.get('occupation')?.hasError('required') }" readonly ngbDropdownToggle formControlName="occupation" placeholder="Select occupation" required>
                                <div class="tooltiptextCustom" style="max-width: 280px;">
                                    <p class="mb-0">Select your Occupation</p>
                                </div>
                                <span ngbDropdownToggle></span>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem *ngFor="let occupation of occupationStatuses" value="occupation.value" (click)="assignDropdownVal('occupation', occupation.label)">{{ occupation.label }}</button>
                                </div>
                            </div>

                            <p class='errorMsg occupation-err' *ngIf="formSubmitted && eligibilityCriteriaForm.get('occupation')?.hasError('required')">Occupation Status field is required
                            </p>
                        </div>
                    </div>

                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <label>Education</label>
                            <div ngbDropdown class="customDD tooltipCustom input">
                                <input class="inputFeild dropdown-toggle mt-0" [ngClass]="{'errorInput': formSubmitted && eligibilityCriteriaForm.get('education')?.hasError('required') }" readonly ngbDropdownToggle formControlName="education" placeholder="Select education" required>
                                <div class="tooltiptextCustom" style="max-width: 280px;">
                                    <p class="mb-0">Select your Education</p>
                                </div>
                                <span ngbDropdownToggle></span>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem *ngFor="let education of educationStatuses" value="education.value" (click)="assignDropdownVal('education', education.label)">{{ education.label }}</button>
                                </div>
                            </div>

                            <p class='errorMsg education-err' *ngIf="formSubmitted && eligibilityCriteriaForm.get('education')?.hasError('required')">Annual education Status field is required
                            </p>
                        </div>
                    </div>

                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <label>Pincode</label>
                            <div class="tooltipCustom input">
                                <input type="text" class="inputFeild" placeholder="Enter pincode" formControlName="pincode" [ngClass]="{'errorInput': formSubmitted && eligibilityCriteriaForm.get('pincode')?.hasError('required') }">

                                <p class='errorMsg' *ngIf="formSubmitted && eligibilityCriteriaForm.get('pincode')?.hasError('required')">
                                    pincode field is required </p>
                                <div class="tooltiptextCustom" style="max-width: 280px;">
                                    <p class="mb-0">Enter your Pincode</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl_20 col-lg_20 col-md-6 col-6">
                        <div class="form_row">
                            <label>Residence status</label>
                            <div ngbDropdown class="customDD tooltipCustom input">
                                <input class="inputFeild dropdown-toggle mt-0" [ngClass]="{'errorInput': formSubmitted && eligibilityCriteriaForm.get('nationality')?.hasError('required') }" readonly ngbDropdownToggle formControlName="nationality" placeholder="Select nationality" required>
                                <div class="tooltiptextCustom" style="max-width: 280px;">
                                    <p class="mb-0">Select your Nationality</p>
                                </div>
                                <span ngbDropdownToggle></span>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem *ngFor="let nationality of nationalityStatuses" value="nationality.value" (click)="assignDropdownVal('nationality', nationality.label)">{{ nationality.label }}</button>
                                </div>
                            </div>

                            <p class='errorMsg nationality-err' *ngIf="formSubmitted && eligibilityCriteriaForm.get('nationality')?.hasError('required')">Nationality Status field is required
                            </p>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>

    <div class="space__container pt-2 border_bottom bottom_sm_fixed">
        <div class="kotak_btn_group">
            <div class="eterm__grid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-center">
                                <button type="button" class="secondary_btn">BACK</button>
                                <div class="p-2"></div>
                                <button type="button" class="primary_btn" (click)="navigate()">PROCEED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="eterm__grid">
        <div class="space__container">
            <div class="d-flex justify-content-between align-items-center mb-32">
                <h4 class="main_heading mb-0">Reasons to love this product</h4>
                <div class="download_brochure d-xl-block d-lg-block d-md-block d-none"><img src="assets/img/download-brochure.png" alt="">Download brochure</div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-12" *ngIf="reasonsArray?.length">
                    <app-video-block></app-video-block>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-12" *ngFor="let item of reasonsArray">
                    <app-detail-block [reasonsArray]="item"></app-detail-block>
                </div>
            </div>

            <div class="fixed_calculated_amount"></div>
        </div>
    </div>
</div>