.mb-32 {
    margin-bottom: 32px;
}


/* Form Elements */

@media (min-width: 1120px) {
    .col-xl_20,
    .col-lg_20 {
        width: 20%;
    }
    .inputFeild {
        width: 98%;
    }
}

@media (max-width: 767px) {
    .fixed_calculated_amount {
        margin: 12px 0;
    }
    .kotak_btn_group {
        padding: 22px 0;
    }
}

.tooltipCustom .inputFeild.dropdown-toggle:focus-within~.tooltiptextCustom,
.tooltipCustom .inputFeild:focus-within~.tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -66px;
    left: 0px;
}

.errorInput {
    border: 1px solid #ee1d24!important;
}

@media (max-width: 767px) {
    .form_row {
        margin-bottom: 0px !important;
    }
}

@media (min-width: 300px) and (max-width: 374px) {
    label{
        white-space: nowrap; 
        width: 100%; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .inputFeild {
        padding-right: 48px;
    }

    *::placeholder {
        white-space: nowrap; 
        width: 78px; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

@media (min-width: 375px) and (max-width: 767px) {

    label{
        white-space: nowrap; 
        width: 100%; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
 
    
    *::placeholder {
        white-space: nowrap; 
        width: 100px; 
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .inputFeild {
        padding-right: 30px;
    }
}