<div class="main__container">
    <div class="container-fluid">
        <div class="space__container">

            <form [formGroup]="addOnsForm"></form>
            <div class=" row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8 col-12 border_bottom">
                    <h4 class="main_heading">Enhance your term insurance cover with add-on benefits</h4>
        
                    <div class="add_on_container d-xl-block d-lg-block d-md-block d-none">
                        <div class="add_on_card popular__tag d-flex align-items-start">
                            <div class="benefit_icon">
                                <img src="assets/img/life-secure.svg" alt="">
                            </div>
                            <div class="w-100">
                                <div class="d-flex justify-content-between align-items-center">
                                   <div class="d-flex align-items-center pb-2">
                                        <h5 class="infoLabel mb-0">Life Secure</h5>
                                        <div class="tooltipCustom input">        
                                            <span class="infoIcon lifeSecure">
                                                <img src="assets/img/info.svg" alt="">
                                            </span>
                                            <div class="tooltiptextCustom" style="max-width: 320px;">
                                                <p class="mb-0">Benefit from a complete waiver of future premium payments in case of permanent disability.</p>
                                            </div>
                                        </div>  
                                    </div>
        
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4>₹ 236 / <span class="year_text">Year</span></h4>
        
                                        <div class="tooltipCustom">
                                            <div class="plan-toggle" (click)="toggleBenefits('personalAccidentCover')">
                                                <input class="toggleInput" type="checkbox" checked />
                                                <div class="toggle-tick"></div>
                                            </div>     
                                            <div class="tooltiptextCustom" style="max-width: 320px;">
                                            <p class="mb-0">7 out of 10 people opt for this plan</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <p class="desc__text w-70">Get future premiums waived off in case of total and permanent disability</p>
                            </div>
                        </div>
        
                        <div class="add_on_card d-flex align-items-start">
                            <div class="benefit_icon">
                                <img src="assets/img/life-plus.svg" alt="">
                            </div>
                            <div class="w-100">
                                <div class="d-flex justify-content-between align-items-center">
                                   <div class="d-flex align-items-center  pb-2">
                                        <h5 class="infoLabel mb-0">Life Plan</h5>
                                        <div class="tooltipCustom input">        
                                            <span class="infoIcon lifePlan">
                                                <img src="assets/img/info.svg" alt="">
                                            </span>
                                            <div class="tooltiptextCustom" style="max-width: 320px;">
                                                <p class="mb-0">Receive 100% of the coverage amount as a lump sum payout, along with a death benefit of up to ₹1 Cr in case of accidental death.</p>
                                            </div>
                                        </div>  
                                    </div>
                                    
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4>₹ 244 / <span class="year_text">Year</span></h4>
        
                                        <div class="tooltipCustom">
                                            <div class="plan-toggle" (click)="toggleBenefits('personalAccidentCover')">
                                                <input class="toggleInput" type="checkbox" />
                                                <div class="toggle-tick"></div>
                                            </div>     
                                            <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                            <p class="mb-0">7 out of 10 people opt for this plan</p>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
        
                                <p class="desc__text w-70">Get future premiums waived off in case of total and permanent disability</p>
                            </div>
                        </div>
        
                        <div class="add_on_card d-flex align-items-start">
                            <div class="benefit_icon">
                                <img src="assets/img/critical-illness.svg" alt="">
                            </div>
                            <div class="w-100">
                                <div class="d-flex justify-content-between align-items-center">
                                   <div class="d-flex align-items-center  pb-2">
                                        <h5 class="infoLabel mb-0">Critical Illness Plus</h5>
                                        <div class="tooltipCustom input">        
                                            <span class="infoIcon illnessPlus">
                                                <img src="assets/img/info.svg" alt="">
                                            </span>
                                            <div class="tooltiptextCustom" style="max-width: 320px;">
                                                <p class="mb-0">Receive 100% of the coverage amount as a lump sum payout, if diagnosed with specified critical illnesses.</p>
                                            </div>
                                        </div>  
                                    </div>
                                    
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4>₹ 244 / <span class="year_text">Year</span></h4>
        
                                        <div class="tooltipCustom">
                                            <div class="plan-toggle" (click)="toggleBenefits('personalAccidentCover')">
                                                <input class="toggleInput" type="checkbox" />
                                                <div class="toggle-tick"></div>
                                            </div>     
                                            <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                            <p class="mb-0">7 out of 10 people opt for this plan</p>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
        
                                <p class="desc__text mb-4 w-70">Get future premiums waived off in case of total and permanent disability</p>
        
                                <div class="d-flex justify-content-between align-items-center">
                                    <p style="white-space: nowrap;">Sum assured</p>
                                    <div class="form_row w-30 mx-4 mb-0">
                                        <div class="select_lakhs_container">
                                            <div class="btn-minus-plus" (click)="decrease(5)">
                                                <img src="./assets/img/minus.svg" class="img-fluid">
                                            </div>
                                            <div class="select-lakh_input">
                                                <input type="text" [(ngModel)]="accidentCover" placeholder="0" maxlength="3">
                                                <label> ₹ </label>
                                            </div>
                                            <div class="btn-minus-plus" (click)="increase(20)">
                                                <img src="./assets/img/plus.svg" class="img-fluid">
                                                <div class="btnDisabled" *ngIf="plusDisabled"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Get this additional cover for an added premium  of <span class="bold__text">₹ 5,144/year</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add_on_container d-xl-none d-lg-none d-md-none d-block">
                        <div class="add_on_card popular__tag d-flex align-items-start">
                            <div class="w-100">
                                <div class="d-flex align-items-center">
                                    <div class="benefit_icon">
                                        <img src="assets/img/life-secure.svg" alt="">
                                    </div>
                                    <div>
                                        <h5 class="infoLabel mb-0">Life Secure 
                                            <div class="tooltipCustom input">        
                                                <span class="infoIcon">
                                                    <img src="assets/img/info.svg" alt="">
                                                </span>
                                                <div class="tooltiptextCustom" style="max-width: 320px;">
                                                    <p class="mb-0">Benefit from a complete waiver of future premium payments in case of permanent disability.</p>
                                                </div>
                                            </div>  
                                        </h5>
                                    </div> 
                                </div>

                                <p class="desc__text w-70">Get future premiums waived off in case of total and permanent disability</p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <h4>₹ 236 / <span class="year_text">Year</span></h4>
    
                                    <div class="tooltipCustom">
                                        <div class="plan-toggle" (click)="toggleBenefits('personalAccidentCover')">
                                            <input class="toggleInput" type="checkbox" checked/>
                                            <div class="toggle-tick"></div>
                                        </div>     
                                        <div class="tooltiptextCustom" style="max-width: 320px;">
                                        <p class="mb-0">7 out of 10 people opt for this plan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="add_on_card d-flex align-items-start">
                            <div class="w-100">
                                <div class="d-flex align-items-center">
                                    <div class="benefit_icon">
                                        <img src="assets/img/life-plus.svg" alt="">
                                    </div>
                                    <div>
                                        <h5 class="infoLabel mb-0">Life Plan
                                            <span class="infoIcon lifePlan">
                                                <img src="assets/img/info.svg" alt="">
                                            </span>
                                            <div class="tooltiptextCustom" style="max-width: 320px;">
                                                <p class="mb-0">Receive 100% of the coverage amount as a lump sum payout, along with a death benefit of up to ₹1 Cr in case of accidental death.</p>
                                            </div>
                                        </h5>
                                    </div>
                                </div>

                                <p class="desc__text w-70">Get future premiums waived off in case of total and permanent disability</p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <h4>₹ 244 / <span class="year_text">Year</span></h4>
    
                                    <div class="tooltipCustom">
                                        <div class="plan-toggle" (click)="toggleBenefits('personalAccidentCover')">
                                            <input class="toggleInput" type="checkbox" />
                                            <div class="toggle-tick"></div>
                                        </div>     
                                        <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                        <p class="mb-0">7 out of 10 people opt for this plan</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="add_on_card d-flex align-items-start">
                            <div class="w-100">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="benefit_icon">
                                        <img src="assets/img/critical-illness.svg" alt="">
                                    </div>
                                    <div>
                                        <h5 class="infoLabel mb-0">Critical Illness Plus
                                            <span class="infoIcon  illnessPlus">
                                                <img src="assets/img/info.svg" alt="">
                                            </span>
                                            <div class="tooltiptextCustom" style="max-width: 320px;">
                                                <p class="mb-0">Receive 100% of the coverage amount as a lump sum payout, if diagnosed with specified critical illnesses.</p>
                                            </div>
                                        </h5>
                                    </div>
                                </div>
        
                                <p class="desc__text mb-3 w-70">Get future premiums waived off in case of total and permanent disability</p>

                                <div class="d-flex justify-content-start flex-column mb-3">
                                    <p>Sum assured</p>
                                    <div class="form_row w-60">
                                        <div class="select_lakhs_container">
                                            <div class="btn-minus-plus" (click)="decrease(5)">
                                                <img src="./assets/img/minus.svg" class="img-fluid">
                                            </div>
                                            <div class="select-lakh_input">
                                                <input type="text" [(ngModel)]="accidentCover" placeholder="0" maxlength="3">
                                                <label> ₹ </label>
                                            </div>
                                            <div class="btn-minus-plus" (click)="increase(20)">
                                                <img src="./assets/img/plus.svg" class="img-fluid">
                                                <div class="btnDisabled" *ngIf="plusDisabled"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Get this additional cover for an added premium  of <span class="bold__text">₹ 5,144/year</span></p>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <h4>₹ 244 / <span class="year_text">Year</span></h4>
    
                                    <div class="tooltipCustom">
                                        <div class="plan-toggle" (click)="toggleBenefits('personalAccidentCover')">
                                            <input class="toggleInput" type="checkbox" />
                                            <div class="toggle-tick"></div>
                                        </div>     
                                        <!-- <div class="tooltiptextCustom" style="max-width: 320px;">
                                        <p class="mb-0">7 out of 10 people opt for this plan</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom_sm_fixed">
        <app-calculated-amount [buttons]="buttons" (proceedWithStatus)="proceed()"></app-calculated-amount>
    </div>

    <div class="fixed_calculated_amount"></div>


</div>







