.year_text {
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    font-weight: normal;
}

.benefit_icon {
    margin-right: 12px;
}


/* Increment Counter */

.select_lakhs_container {
    width: 100%;
    height: 50px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select_lakhs_container .btn-minus-plus {
    width: 36px;
    height: 20px;
    line-height: 0;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.select_lakhs_container .select-lakh_input {
    width: calc(100% - 72px);
    height: auto;
    position: relative;
}

.select_lakhs_container .select-lakh_input input {
    width: 100%;
    text-align: center;
    padding: 2px 5px 0 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    border: none;
    outline: none;
}

.select_lakhs_container .select-lakh_input label {
    position: absolute;
    top: 6px;
    left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #000;
    margin: 0;
}

.select_lakhs_container .btn-minus-plus {
    width: 36px;
    height: 20px;
    line-height: 0;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.bold__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.tooltipCustom:hover .tooltiptextCustom {
    visibility: visible;
    opacity: 1;
}

.tooltipCustom.input {
    width: auto;
}


.tooltipCustom .infoIcon:hover.lifeSecure ~ .tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -97px;
    left: -8px;
}

.tooltipCustom .infoIcon:hover.lifePlan ~ .tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -142px;
    left: -8px;
}

.tooltipCustom .infoIcon:hover.illnessPlus ~ .tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -122px;
    left: -8px;
}
@media (max-width: 767px) {
    .fixed_calculated_amount {
        margin: 102px 0;
    }
}

@media (min-width: 300px) and (max-width: 450px) {
    .select_lakhs_container .select-lakh_input label {
        left: 14px;
    }
}

@media (min-width: 450px) and (max-width: 767px) {
    .select_lakhs_container .select-lakh_input label {
        left: 54px;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .select_lakhs_container .select-lakh_input label {
        left: 60px;
    }
}

.tooltipCustom .infoIcon:hover~.tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -56px;
    left: -8px;
}

.infoLabel {
    font-weight: 600;
}