.video_player {
    background-color: #000;
    height: calc(100vh - 200px);
    padding: 32px;
    position: relative;
    max-height: 500px;
}
.modal-body, .modal-body iframe {
    height: 100%;
    width: 100%;
}

.modal-dialog {
    position: relative;
}

button.close__button {
    position: absolute;
    right: -6%;
    top: -10%;
}