.caption {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.tooltipCustom .inputFeild:focus-within~.tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -69px;
    left: 0px;
}


@media (max-width: 767px) {
    .fixed_calculated_amount {
        margin: 122px 0;
    }

    .form_row .label_sm {
        white-space: nowrap; 
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.errorInput {
    border: 1px solid #ee1d24!important;
}

.make_payment  {
    padding-right: 0;
    padding-left: 0;
}