.policy__inclusive {
    width: 384px;
    margin: auto;
}

.box_header {
    background: #FAFAFA;
    border: 1px solid #D6D6D6;
    border-bottom: none;
    box-sizing: border-box;
    padding: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.text_offer {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #00A22C;
}
.box_body {
    background: #EAF5FA;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    padding: 20px;
    border-top: 1px solid #D6D6D6;
}

.center_box {
    width: 88%;
    margin: auto;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .policy__inclusive, .box_body {
        width: 100%;
    }
    .center_box {
        width: 100%;
    }
    .offer_discount {
        font-size: 12px;
        line-height: 16px;
        color: #373737;
        margin-right: 8px;
    }
}

.remove {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #003366;
}

.make_payment {
    padding-right: 4px!important;
    padding-left: 4px!important;
    text-align: center;
}

.offer_discount {
    font-size: 12px;
    line-height: 16px;
    color: #373737;
    margin-right: 4px;
}

.strikethrough {
    position: relative;
  }
  .strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid #dd0031!important;
    border-color: inherit;
  
    -webkit-transform:rotate(8deg);
    -moz-transform:rotate(8deg);
    -ms-transform:rotate(8deg);
    -o-transform:rotate(8deg);
    transform:rotate(8deg);
  }