<div class="policy__inclusive">
    <div *ngIf="router.url === '/customize-plan'">
        <div class="box_header text-center">
            <div *ngIf="!isDiscount" (click)="getDiscount()">
                Existing Kotak Life Customer? <span class="text_offer"><img src="assets/img/green-offer.png" alt="">Get Discount</span>
            </div>
            <div class="d-flex justify-content-between align-items-center" *ngIf="isDiscount" (click)="getDiscount()">
                <div class="hightlight_green" style="font-size: 16px; font-weight: 500;">
                    Discount applied!
                </div>
                <div class="remove">
                    Remove
                </div>
            </div>
        </div>
    </div>




    <div class="box_body">
        <div class="center_box">
            <div class="d-flex align-items-end justify-content-center">
                <div class="" *ngIf="isDiscount">
                    <div class="offer_discount strikethrough">18,877</div>
                </div>
                
                <h3 class="mb-1"><b> ₹ 18,877 / </b>year</h3>
                <p class="px-2">(incl. of taxes)</p>
            </div>
        </div>
        <div class="my-3"></div>
        <div class="kotak_btn_group">
            <div class="eterm__grid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-center">
                                <button type="button" class="secondary_btn">{{buttons.pair1}}</button>
                                <div class="p-2"></div>
                                <!-- [ngClass]="root(router)" -->
                                <div class="" *ngIf="router.url === '/more-details'">
                                    <button type="button" class="primary_btn make_payment" (click)="proceedVal()">{{buttons.pair2}}</button></div>
                                <div class="" *ngIf="router.url != '/more-details'">
                                    <button type="button" class="primary_btn" (click)="proceedVal()">{{buttons.pair2}}</button>
                                </div>
                                
                                
                                <div class="p-1"></div>
                                <div *ngIf="router.url === '/more-details'" class="d-flex align-items-center justify-content-center">
                                    
                                    <div class="tooltipCustom input">        
                                        <div class="infoIcon p-0">
                                            <img style="min-width: 20px; padding: 0px!important;" src="assets/img/info.svg" alt="">
                                        </div>
                                        <div class="tooltiptextCustom" style="max-width: 320px;">
                                            <p class="mb-0">Enter </p>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
