.video_block {
    background: linear-gradient(180deg, rgba(22, 22, 22, 0) 0%, #161616 89.06%);
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    min-height: 232px;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.play_btn {
    margin-bottom: 30px;
}

.video_title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
}