.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 232px;
}
.product_sceme {
    margin-bottom: 22px;
}
.card h6 {
    margin-bottom: 10px;
}