<div class="main__container">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 px-sm-0">
                <div class="home__layout">
                    <div class="home_layout_left">
                        <!-- <h4 class="d-xl-block d-lg-block d-md-block d-none">Do you know medical costs in India are increasing by 10% per year? *</h4> -->
                        <div class="carousel__container">
                            <owl-carousel-o [options]="customOptions" class="home-carousel">
                                <ng-template carouselSlide>
                                    <h2>₹ 1 Crore Life cover @ <br> less than Rs.15 per day*</h2>
                                    <p>Protect your family now!</p>
                                    <div class="d-xl-block d-lg-block d-md-block d-none">
                                        <img src="./assets/img/illustration-1.svg" class="img-fluid mx-auto d-block">
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <h2>Additional discount up to <br> 1% for online customers</h2>
                                    <p>Avail this offer now</p>

                                    <div class="d-xl-block d-lg-block d-md-block d-none">
                                        <img src="./assets/img/illustration-2.svg" class="img-fluid mx-auto d-block">
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <h2>Our claim settlement ratio <br>for FY 20-21 is 99.38%</h2>
                                    <p>As per latest reports</p>

                                    <div class="d-xl-block d-lg-block d-md-block d-none">
                                        <img src="./assets/img/illustration-3.svg" class="img-fluid mx-auto d-block">
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                    <div class="home_layout_right">
                        <!-- <h2>Welcome! Give us your basic details to start with.</h2> -->
                        <form [formGroup]="landingPageForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form_row">
                                        <div class="tooltipCustom input">
                                            <input type="text" class="inputFeild landingInput" placeholder="Full name" formControlName="name" [ngClass]="{'errorInput': (formSubmitted && landingPageForm.get('name')?.hasError('required')) || (!landingPageForm.get('name')?.hasError('required') && !landingPageForm.get('name')?.hasError('pattern')) }">
                                                <!-- <p class='errorMsg' *ngIf="formSubmitted && !landingPageForm.get('name')?.hasError('required') && !landingPageForm.get('name')?.hasError('pattern')">
                                                Please enter valid full name </p> -->

                                            <p class='errorMsg' *ngIf="formSubmitted && landingPageForm.get('name')?.hasError('required')">
                                                Name field is required </p>
                                            <div class="tooltiptextCustom" style="max-width: 300px;">
                                                <p class="mb-0">Your full name as per Aadhaar and PAN Card</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form_row">
                                        <div class="tooltipCustom dob_landing input">
                                            <input [ngClass]="{'errorInput': formSubmitted && landingPageForm.get('birthdate')?.hasError('required') }" class="inputFeild landingInput date-icon" placeholder="Date of birth (DD/MM/YYYY)"
                                                formControlName="birthdate" #myInput>
                                            <p class='errorMsg' *ngIf="formSubmitted && landingPageForm.get('birthdate')?.hasError('required')">
                                                Date Of Birth field is required
                                            </p>
                                            <p class='errorMsg' *ngIf="formSubmitted && landingPageForm.get('birthdate')?.hasError('dateValidator')">
                                                Please enter a valid date</p>
                                            <div class="tooltiptextCustom" style="max-width: 300px;">
                                                <p class="mb-0">Enter your Date of birth to calculate exact premium</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-10 col-lg-10 col-md-12 col-12">
                                    <div class="row justify-content-between">
                                        <div class="col-xl-5 col-lg-5 col-md-6 col-6">
                                            <div class="form_row">
                                                <div class="d-flex align-items-center">
                                                    <label class="infoLabel">Gender</label>
                                                    <div class="tooltipCustom input">
                                                        <span class="infoIcon">
                                                            <img src="assets/img/info.svg" alt="">
                                                        </span>

                                                        <div class="tooltiptextCustom" style="max-width: 300px;">
                                                            <p class="mb-0">Attractive rates for females</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <ul>
                                                    <li class="gender white-circle" [ngClass]="{'active': gender === 'male'}" (click)="setGender('male');"><span>Male</span>
                                                    </li>
                                                    <li class="gender white-circle" [ngClass]="{'active': gender === 'female'}" (click)="setGender('female');">
                                                        <span>Female</span></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-xl-5 col-lg-5 col-md-6 col-6">
                                            <div class="form_row">
                                                <div class="d-flex align-items-center">
                                                    <label class="infoLabel">Tobacco user</label>
                                                    <div class="tooltipCustom tabacco_landing input">
                                                        <span class="infoIcon">
                                                            <img src="assets/img/info.svg" alt="">
                                                        </span>

                                                        <div class="tooltiptextCustom tooltip-sm-left" style="max-width: 300px;">
                                                            <p class="mb-0">Attractive rates for non-smokers</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <ul>
                                                    <li class="tobacco  white-circle" [ngClass]="{'active': tobacco === 'yes'}" (click)="setTobacco('yes');"><span>Yes</span>
                                                    </li>
                                                    <li class="tobacco  white-circle" [ngClass]="{'active': tobacco === 'no'}" (click)="setTobacco('no');">
                                                        <span>No</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form_row">
                                        <div class="tooltipCustom input">
                                            <input type="number" maxlength="10" class="inputFeild landingInput" placeholder="Enter mobile number" value="" onKeyPress="if(this.value.length==10) return false;" formControlName="phoneNumber" [ngClass]="{'errorInput':  formSubmitted && landingPageForm.get('phoneNumber')?.hasError('required') }">

                                            <p class='errorMsg' *ngIf="formSubmitted && landingPageForm.get('phoneNumber')?.hasError('required')">
                                                Mobile number field is required </p>

                                            <div class="tooltiptextCustom" style="max-width: 300px;">
                                                <p class="mb-0">To validate otp and communication</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form_row">
                                        <div class="tooltipCustom input">
                                            <input class="inputFeild landingInput" type="email" [(ngModel)]="emaildModel" placeholder="Enter email" value="reshma.w@gmail.com" formControlName="emailId" [ngClass]="{'errorInput': formSubmitted && landingPageForm.get('emailId')?.hasError('email') || formSubmitted && landingPageForm.get('emailId')?.hasError('required') }"
                                                [ngbTypeahead]="search">
                                            <p class='errorMsg' *ngIf="formSubmitted && landingPageForm.get('emailId')?.hasError('required')">
                                                Email address field is required </p>
                                            <p class='errorMsg' *ngIf="formSubmitted && landingPageForm.get('emailId')?.hasError('email')">
                                                Please enter valid email address</p>

                                            <div class="tooltiptextCustom" style="max-width: 300px;">
                                                <p class="mb-0">To communicate policy details with you</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form_row">
                                        <div class="radio__group mb-3">
                                            <label style="white-space: break-spaces;" class="checkbox__container mr-0">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <input class="landingInput"  type="checkbox" name="mtd" class="isPermAddSame" [(ngModel)]='acceptPolicy' [ngModelOptions]="{standalone: true}">
                                                        <span class="checkmark"></span>
                                                    </div>
                                                    <span class="caption mx-4" style="margin-top: -4px; text-transform: none;">By sharing the above details, I agree to KLI and its representatives contacting me through call, SMS, email or WhatsApp even if I am registered under NDNC. I also agree that I have read and understood the Privacy policy and agree to abide by the same</span>
                                                </div>
                                            </label>
                                            <p class='errorMsg' *ngIf="formSubmitted && !acceptPolicy">
                                                * This field is required </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="fixed_calculated_amount"></div>
                                <div class="col-12 text-center bottom_sm_fixed">
                                    <button class="primary_btn proceed__btn" (click)="navigate()">Proceed</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="terms__container d-xl-block d-lg-block d-md-block d-none">
        <div class="terms_inner_container">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-11 col-lg-11 col-12">

                        <div class="divclass">
                            <span style="width: 20px;height: 20px;">
                  <img src="assets/img/download-brochure.svg" alt="" style="width: 13.14px;height: 13.14px;  margin: 0;">
                </span>
                            <h6 class="headerstyle">Product Brochure</h6>
                        </div>
                        <br>
                        <div (click)="termClicked(showTerm)" class="divclass" style="padding-bottom: 0;">
                            <span style="width: 20px;height: 20px;">
                  <img src="assets/img/plus-button.png" *ngIf="!showTerm" alt=""
                    style="width: 13.14px;height: 13.14px; margin: 0;">
                  <img src="assets/img/minus-button.png" *ngIf="showTerm" alt=""
                    style="width: 13.14px;height: 13.14px; margin: 0;">
                </span>
                            <h6 class="headerstyle" style="margin-bottom: 0 !important;">Terms & Conditions</h6>
                        </div>
                        <div id="divwrapfooter" class="warp-footer" style="height: auto;" *ngIf="showTerm">
                            <div class="warp-footer-inner foot-bg">
                                <div id="displayTC" style="display:block;">
                                    <ol id="TC">
                                        <li>This is a non-linked, non-participating, fixed benefit, health plan.</li>
                                        <li><strong>Plan Options:</strong> There are 5 base plan options available under this plan as mentioned below. You have the option to choose one or more plan options under this plan. However, Option A: Personal Accident
                                            Shield has to be selected with at least one more plan option. The plan option needs to be selected at inception of the policy and cannot be changed during the policy term.
                                            <ul>
                                                <li><strong>Option A: Personal Accidental Shield:</strong> This plan option provides financial security to your loved ones against accidental death or total permanent disability where a lump sum amount equal
                                                    to a fixed percentage of Sum Assured opted for Personal Accident Shield, will be payable to you or your nominee.
                                                </li>

                                                <li><strong>Option B: Cardiac Shield:</strong> On diagnosis of early stage or major stage cardiac conditions, a lump sum amount equal to a fixed percentage of Sum Assured opted for Cardiac Shield will be payable
                                                    to the Life Assured</li>

                                                <li><strong>Option C: Cancer Shield:</strong> On diagnosis of early stage or major stage cancer conditions, a lump sum amount equal to a fixed percentage of Sum Assured opted for Cancer Shield will be payable
                                                    to the Life Assured</li>

                                                <li><strong>Option D: Neuro Shield:</strong> On diagnosis of early stage or major stage cardiac conditions, a lump sum amount equal to a fixed percentage of Sum Assured opted for Neuro Shield will be payable
                                                    to the Life Assured</li>

                                                <li><strong>Option E: Livo Shield:</strong> On diagnosis of early stage or major stage cardiac conditions, a lump sum amount equal to a fixed percentage of Sum Assured opted for Livo Shield will be payable to
                                                    the Life Assured</li>
                                            </ul>
                                            <strong>Note: For more details, please go through the Brochure.</strong>
                                        </li>
                                        <li><strong>Optional Benefits:</strong> There are 3 optional benefits under this plan. You have the option to select any one or more as per your convenience. Once chosen, the same cannot be changed during the policy
                                            term and the same shall be applicable on all base plan options. The optional benefits are mentioned below:
                                            <ul>
                                                <li><strong>Daily Hospitalization Cash Benefit:</strong> In case of hospitalization for more than 24 hrs, due to any of the base plan options, you are entitled to a daily cash benefit as opted by you under this
                                                    plan. This benefit is only payable if the benefit under the base plan option is payable.</li>

                                                <li><strong>Waiver of Premium:</strong> In case diagnosed with any minor conditions under the base plan options, all future premiums shall be waived for a period of 3 years, to support you during your recovery
                                                    period. This benefit is only applicable when the base plan option is payable. This is not applicable for Single Premium policies.</li>

                                                <li><strong>Income Benefit:</strong> In case diagnosed with any major conditions under the base plan options, a monthly income will be payable to you to for a period of 12 months to provide financial security
                                                    during our recovery period.</li>
                                            </ul>
                                            <strong>Note: For more details, please go through the Brochure.</strong>
                                        </li>
                                        <li><strong>Death Benefit:</strong> There is no death benefit payable under the plan except for Accidental Death under Option A: Personal Accident Shield</li>

                                        <li><strong>Maturity Benefit:</strong> There is no maturity benefit payable under this plan</li>

                                        <li><strong>Wellness Benefits:</strong> The plan provides wellness benefits through a third party service provider. To avail this services, you can either call or write to Kotak Life Customer Care or our Service Provider’s
                                            Customer Care. Kindly note Kotak Life is arranging the services you may require, and is no way involved or associated with the quality of the services provided directly or indirectly. The wellness benefits are
                                            mentioned below:
                                            <ul>
                                                <li><strong>Emergency Medical Evacuation:</strong> In the event of Life Assured being ill or injured in an area where appropriate care is not available, our wellness partner will use whatever transportation,
                                                    equipment and personnel necessary to transport the Life Assured to the nearest facility that meets their standards. The full cost of evacuation, including any medical assistance during transport will
                                                    be carried out by them</li>

                                                <li><strong>Medical Monitoring:</strong> Our partner’s personnel will stay in regular communication with the attending physician, and hospital during hospitalization, monitor appropriate levels of care and relay
                                                    necessary information to the Life Assured’s family</li>

                                                <li><strong>Medical Repatriation:</strong> When the Life Assured has been stabilized to the satisfaction of the our partner’s Clinical Doctor and attending physician, our partner will arrange transportation
                                                    back home or to a rehabilitation facility under medical supervision if required</li>

                                                <li><strong>Compassionate Visit:</strong> Our partner realizes that having a family member or friend present during a health crisis makes everyone feel more at ease and can even hasten the recuperation process.
                                                    That is why our partner will arrange and pay for economy, round-trip transportation costs for a loved one to join any Life Assured who is alone and expected to be hospitalized for more than seven days
                                                </li>

                                                <li><strong>Second Medical Opinion:</strong> Second Medical Opinion allows a Life Assured to receive a documented second medical opinion on a complex, grave or critical illness diagnosis, directly from a specialist
                                                    working in a world class medical institution. This value-added service provides the Life Assured, peace of mind knowing that his/her diagnosis has been confirmed and/or that the prescribed treatment
                                                    is the most appropriate option available locally and internationally. Life Assured have direct access to world-class medical opinions within their reach, at the moment they need it most.</li>

                                            </ul>
                                            <strong>Note: Please read product brochure carefully for more details</strong>
                                        </li>
                                        <li><strong>Surrender Benefit:</strong> Surrender Benefit shall not be applicable for Regular Premium policies and is only applicable for Single Premium policies. Surrender is not allowed in case any claim has already
                                            been made under the policy. In case of Single Premium policies, the Surrender Value shall be calculated as mentioned below:<br> 75% X [Total Premiums Paid to date] X [(Policy Term - 1)/ Policy Term] X [Balance
                                            Policy Term to run/ Policy Term]

                                        </li>
                                        <li>A lapsed policy can be revived within 5 years from the date of the first unpaid premium. The Policyholder can revive the Policy without evidence of good health on payment of the outstanding premiums and interest
                                            charge, if the payment is made within six months from the date of the first unpaid premium. Thereafter to revive the policy evidence of good health would be required along with payment of the outstanding premiums
                                            and interest charge. On revival, all benefits under the policy will be reinstated.</li>

                                        <li>Goods and Services Tax & Cess as applicable shall be levied at the applicable Tax rates in accordance with the prevailing Tax Laws. Prevailing Tax Laws will be applicable on this policy which may vary from time
                                            to time.</li>

                                        <li>Tax benefits are subject to provisions as per Income Tax Act 1961. Tax laws are subject to changes from time to time. You are advised to take an independent view from tax consultant.
                                        </li>

                                        <li>For more details on risk factors, terms and conditions, please read Product Brochure carefully before concluding a sale.</li>
                                        <li><strong>Sources:</strong><br>
                                            <a href="https://www.indiatoday.in/diu/story/healthcare-inflation-is-increasing-at-double-the-rate-of-overall-inflation-1562254-2019-07-04" target="_blank">https://www.indiatoday.in/diu/story/healthcare-inflation-is-increasing-at-double-the-rate-of-overall-inflation-1562254-2019-07-04 *</a><br>

                                            <a href="https://www.hindustantimes.com/india-news/one-in-10-indians-will-develop-cancer-during-their-lifetime-who/story-NcNQhPTS01YWI9Qovfcy5J.html" target="_blank">https://www.hindustantimes.com/india-news/one-in-10-indians-will-develop-cancer-during-their-lifetime-who/story-NcNQhPTS01YWI9Qovfcy5J.html *</a><br>

                                            <a href="https://economictimes.indiatimes.com/tdmc/your-money/the-rising-cost-of-medical-treatment-infographic/tomorrowmakersshow/50187991.cms" target="_blank">https://economictimes.indiatimes.com/tdmc/your-money/the-rising-cost-of-medical-treatment-infographic/tomorrowmakersshow/50187991.cms *</a><br>

                                            <a href="https://nursing.ceconnection.com/ovidfiles/00129191-201306000-00005.pdf" target="_blank">https://nursing.ceconnection.com/ovidfiles/00129191-201306000-00005.pdf *</a><br>

                                            <a href="https://news.un.org/en/story/2007/02/210312-nearly-1-6-worlds-population-suffer-neurological-disorders-un-report" target="_blank">https://news.un.org/en/story/2007/02/210312-nearly-1-6-worlds-population-suffer-neurological-disorders-un-report *</a>
                                        </li>
                                        <li>No Medical - Applicable for Cancer & Personal Accident Shiled</li>

                                    </ol>
                                </div>
                                <div id="displayInvestMaximaTC" style="display: none; color:#685c53;">
                                    <h3 class="text-center" style="margin-bottom:12px;">Terms and Conditions</h3>
                                    <ol id="InvestMaximaTC">
                                        <li>This is non-participating unit-linked endowment plan. The illustration stated is for a healthy individual and under the assumption that this is the only policy the client has with Kotak Life Insurance and would
                                            be subject to underwriting.</li>
                                        <li>The Maturity Benefit is the Fund Value. This will be inclusive of Survival Units as and when due.
                                        </li>
                                        <li>If premiums are not paid until (under Regular/Limited Premium Payment option) the end of Grace Period, the policyholder will have the option to either (i) revive the policy or (ii) opt for complete withdrawal from
                                            the policy without any risk cover or (iii) Convert the policy into Paid-Up policy (applicable only if the policy is in force for first five policy years). The Fund Value will remain invested in the existing
                                            funds as before until the policyholder chooses one of the options mentioned above or till the expiry of the Notice Period, whichever is earlier. During this period, the policy is deemed to be in force with risk
                                            cover as per terms &amp; conditions of the policy and all charges are deducted.Death Benefit will be higher of Basic Sum Assured (less partial withdrawal made during the two years preceding the date of death
                                            , further on attainment of age 60, all the partial withdrawals made age 58 onwards will be set off against the Basic Sum Assured) or Fund Value, subject to minimum of 105% of all the premiums paid up to the
                                            date of death. In addition, higher of Top up Sum Assured or Fund Value of Top-Up Account, in respect of each Top-Up Premium (If any), subject to minimum of 105% of Top up premium paid up to the date of death
                                            will be payable.

                                            <br>In case of discontinuance of Regular/Limited Premium Payment policies (due to non-payment of premium or on request by Policyholder) during the lock-in period of 5 years, the Fund Value of the policy after
                                            deduction of discontinuance charges will be credited to the Discontinued Policy Fund. This amount will accumulate at minimum interest rate specified by Insurance Regulatory and Development Authority of India
                                            (IRDAI). The proceeds of the discontinued policy will be refunded only after completion of the lock-in period of five years or revival period (in case the option to revive the policy is chosen) whichever is
                                            later, except in case of death where it will be paid out immediately.</li>

                                        <li>In case a policy is discontinued during the first 5 years: In case policyholder opts for of option ii or if the policyholder does not choose any option,the Fund Value after deducting applicable Discontinuance Charges
                                            will be transferred to the Discontinued Policy Fund or In case the Policyholder opts for option i, the policyholder can revive the discontinued policy within two years from the date of discontinuance of policy.
                                            All benefits will be reinstated on revival subject to underwriting and other applicable terms &amp; conditions. The outstanding premium paid will be used to purchase units on the date of revival.On Revival policy
                                            administration charge and premium allocation charge will be charged as applicable during the discontinuance period and discontinuance charge will be added back to the fund.
                                        </li>
                                        <li>In case a policy is discontinued after the first 5 years: In case the Policyholder opts for option ii or if the policyholder does not choose any option the Fund Value is available for immediate payment or In case
                                            the Policyholder opts for option i, the policyholder can revive the discontinued policy within two years from the date of discontinuance of policy or In case the Policyholder opts for option iii, the policyholder
                                            can convert the policy into Paid-Up policy with Reduced Paid-Up Sum Assured calculated as Sum Assured × Total Number of Premiums Paid divided by the Original Number of Total Premiums payable under the Policy.
                                            For such policies Mortality Charges and Policy Administration Charges will be charged in addition to Fund Management Charge.
                                        </li>
                                        <li>The NAV is calculated on daily basis.<br> NAV = (Market Value of Investment held by the fund + value of any Current Assets - value of Current Liabilities &amp; Provisions, if any)<br> -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                            <br> Number of units existing at the valuation date (before creation/redemption of any units)
                                        </li>
                                        <li>
                                            The above illustrated benefits are derived on the basis of details of life insured provided at the time of filling the proposal form. If the details are found inaccurate or there are any changes before or at the time of the policy issuance for eg: change
                                            in age, the illustrated benefits will be subject to revision.
                                        </li>
                                        <li>Goods and Services Tax &amp; Cess, as applicable are levied at the applicable Tax rates in accordance with the prevailing Tax Laws. Prevailing tax laws are applicable on this policy which may vary from time to time.
                                        </li>
                                        <li>The values shown are for illustrative purpose only. This illustration is not a contract of insurance and must be read in conjuction with the Product Brochure and Policy Document.</li>
                                        <li>If the Top-Up Premiums are paid, the policy's Maturity proceeds might not be eligible for exemption under Sec10(10d). Please consult your tax advisor for details.</li>
                                        <li>Clawback Additions would be payable at the point of exit, after the completion of five years, if and only if, it is required to meet the reduction in yield requirements prescribed by the IRDAI Regulations. Exit
                                            would mean exit by way of death, surrender or maturity whichever is earliest.</li>
                                        <li>The benefits illustrated assume that all premiums that are due over the premium paying term will be paid and no withdrawals will be made during the policy term. In case premiums are not paid for the premium paying
                                            term at the original level or withdrawals are made during the policy term, the illustrative benefits will differ.
                                        </li>
                                        <li>The Premium allocated to Systematic Switching Strategy is entirely allocated to the Destination Fund chosen by the Policyholder for illustrative purposes. Even If Systematic Exit Strategy is chosen, this illustration
                                            assumes that the fund will remain under Systematic Switching Strategy throughout policy term.</li>
                                        <li>Premium Allocation Rates and Mortality Rates, if applicable, are guaranteed for the lifetime of the policy. All other charges may be altered during the lifetime of the policy with prior approval from the IRDAI.
                                        </li>
                                        <li>TDS at prevailing rate will be deducted from any amount paid under a life insurance policy subject to the provisions of prevailing tax laws. In case of non-availability of valid PAN, TDS will be deducted at higher
                                            rate. Prevailing Tax laws are subject to changes from time to time. Kindly consult your tax advisor for tax implication of your policy.</li>
                                        <li>I also understand that whilst 100% of my first year premium will be invested in unit linked investment funds there are charges during the first policy year as given in benefit illustration.</li>
                                        <li>Risk Factors:
                                            <ul class="lower-alpha">
                                                <li>Unit Linked Life Insurance products are different from the traditional insurance products and are subject to the risk factors.</li>
                                                <li>Kotak Mahindra Old Mutual Life Insurance Ltd. is only the name of the Insurance Company and Kotak Invest Maxima is only the name of the unit linked life insurance contract and does not in any way indicate
                                                    the quality of the contract, its future prospects or returns. The various funds offered under this contract are the names of the funds and do not in any way indicate the quality of these plans, their
                                                    future prospects and returns.</li>
                                                <li>Please know the associated risks and the applicable charges, from your Insurance agent or Corporate Agent/Insurance Broker or policy document of the insurer.</li>

                                            </ul>
                                        </li>
                                        <li>For more details on risk factors, terms and conditions please read the sales brochure carefully before concluding a sale.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                        <div class="warp-footer2 mt-5" style="height: auto;">
                            <div class="groove">
                                <p style="display:block;font-size:13px !important;font-weight: 700; margin: 0 0 10px 0;">BEWARE OF SPURIOUS PHONE CALLS AND FICTITIOUS/ FRAUDULENT OFFERS</p>
                                <p style="display:block;font-size:12px !important;font-weight: 500">IRDAI is not involved in activities like selling insurance policies, announcing bonus or investment of premiums. Public receiving such phone calls are requested to lodge a police complaint.</p>
                            </div>
                        </div>
                        <div id="divwrapfooter" class="warp-footer2" style="height: auto;">
                            <div class="warp-footer-inner foot-bg">
                                <div>
                                    <p id="eterm" style="display:block;">Kotak Health Shield - UIN: 107N104V01, Form No: N104, Kotak Critical Illness Plus Benefit Rider - 107B020V01, Form No.: B020</p>
                                    <p id="eassured" style="display: none">Kotak e-Assured Savings Plan: UIN: 107N080V01, Form No.: N080, Kotak Term Benefit Rider-107B003V03, Form No.: B003, Kotak e-Accidental Death Benefit Rider-107B019V01 Form No.: B019, Ref. No.: KLI/17-18/E-PB/461</p>
                                    <p id="InvestMaxima" style="display: none">Kotak Invest Maxima Plan - UIN: 107LO73V02</p>

                                </div>
                                <div>
                                    <p>
                                        <a href="https://insurance.kotak.com/do-not-call-registry" target="_blank" style="color:blue;cursor: pointer !important;">Do Not
                        Call Registry </a>• <a href="https://insurance.kotak.com/disclaimer" target="_blank" style="color:blue;cursor: pointer !important;">Disclaimer</a> • <a href="https://insurance.kotak.com/common/privacy.php"
                                            target="_blank" style="color:blue;cursor: pointer !important;">Privacy Policy</a> • Visit Our: <a href="https://insurance.kotak.com/home/index.php" target="_blank" style="color:blue;cursor: pointer !important;">Corporate Website</a>                                        | <a href="https://customer.kotaklifeinsurance.com/kliportal/Selectlogin.aspx" target="_blank" style="color:blue;cursor: pointer !important;">Services Website</a>
                                    </p>

                                    <p>
                                        Kotak Mahindra Life Insurance Company Ltd.

                                        <br> Regd. Office: 2nd Floor, Plot # C-12, G-Block, BKC, Bandra (E), Mumbai - 400 051, India. All rights reserved. Registered with <a href="http://www.irda.gov.in/Defaulthome.aspx?page=H1" target="_blank" style="color:blue;cursor: pointer !important;">Insurance Regulatory
                        &amp; Development Authority (IRDA)</a> as Life Insurance Company. Regn. No. 107. CIN : U66030MH2000PLC128503.
                                    </p>

                                    <p>
                                        Trade Logo displayed above belongs to Kotak Mahindra Bank Limited and is used by Kotak Mahindra Life Insurance Company Ltd. under license.
                                        <br> © 2012 Kotak Mahindra Group. All rights reserved. This site is best viewed in 1024*768 resolution and in IE9 and above browsers.
                                    </p>
                                </div>
                                <div class="clearstyle">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>