.tooltipCustom .inputFeild:focus-within~.tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -52px;
    left: -10px;
}

.tooltipCustom .infoIcon:hover~.tooltiptextCustom {
    visibility: visible;
    opacity: 1;
    top: -56px;
    left: -8px;
}

.errorInput {
    border-bottom: 1px solid #ee1d24 !important;
}

@media (min-width: 320px) and (max-width: 766px) {
    .tooltipCustom .infoIcon:hover~.tooltiptextCustom.tooltip-sm-left {
        right: 0px !important;
        left: unset !important;
    }

    .tooltipCustom.input .tooltiptextCustom.tooltip-sm-left::after {
        right: 46px;
        left: unset;
    }

    .tooltipCustom.input .inputFeild {
        margin-bottom: 0px;
    }

    .fixed_calculated_amount {
        margin-bottom: 16px;
    }

    .bottom_sm_fixed {
        padding: 24px;
        left: 0;
        right: 0;
        background: #FFFFFF;
    }
}

@media (min-width: 767px) and (max-width: 1080px) {
    .tooltipCustom .infoIcon:hover~.tooltiptextCustom.tooltip-sm-left {
        /* right: 100px; */
        left: -30px;
    }
    .tooltipCustom.input .tooltiptextCustom::after {
        left: 85px;
    }
    .tooltipCustom.input .inputFeild {
        margin-bottom: 8px;
    }
}

ngb-typeahead-window.dropdown-menu {
    width: 100% !important;
}

.tooltipCustom.dob_landing .inputFeild:focus-within ~ .tooltiptextCustom {
    top: -84px;
}

.tooltipCustom.tabacco_landing.input .infoIcon:hover~.tooltiptextCustom {
    top: -76px !important;
}