<div class="modal-header">
  <h4 class="modal-title">Edit basic details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true"><img src="assets/img/cross-sign.svg" alt=""></span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="editDetailsForm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
          <div class="form_row">
            <label>Full name</label>
            <input type="text" formControlName="name" name="name" class="inputFeild" id="" placeholder="Enter Name">
         </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
          <div class="form_row">
            <label>Gender</label>
            <ul>
              <li class="gender" [ngClass]="{'active': gender === 'male'}" (click)="setGender('male');"><span>Male</span>
              </li>
              <li class="gender" [ngClass]="{'active': gender === 'female'}" (click)="setGender('female');">
              <span>Female</span></li>
            </ul>    
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
          <div class="form_row">
            <label>Date of birth</label>
            <input class="inputFeild" type="text" placeholder="Date of birth" formControlName="birthdate" #myInput>                                  
         </div>
        </div>
       
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
          <div class="form_row">
            <label>Tobacco smoker</label>
            <ul>
              <li class="gender" [ngClass]="{'active': tobacco === 'yes'}" (click)="settobacco('yes');"><span>Yes</span>
              </li>
              <li class="gender" [ngClass]="{'active': tobacco === 'no'}" (click)="settobacco('no');">
              <span>No</span></li>
            </ul>    
          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-12">
          <div class="form_row">
            <label>Mobile number</label>
            <input type="number" name="mobile" maxlength="10" class="inputFeild" id="" placeholder="Enter Mobile number">
         </div>
        </div> -->

        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
          <div class="form_row">
            <label>Email address</label>
            <input type="email" name="email" class="inputFeild" formControlName="email" id="" placeholder="Enter Email address">
         </div>
        </div>
      </div>
    </div>
  </form>
</div>

  
  <div class="modal-footer">
    <div class="w-100 row justify-content-between">
      <div class="col-xl-6 col-lg-6 col-md-6 col-6">
        <button type="button" class="w-100 secondary_btn">BACK</button>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-6">
        <button type="button" class="w-100 primary_btn">UPDATE</button>
      </div>
    </div>
  </div>
