<div class="sub_header">
    <div class="eterm__grid">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="header_content d-flex align-items-center justify-content-between">
                        <div class="caption pl-0 d-md-block d-none" style="text-align: left;"><b>Personal details</b></div>
                        <div class="caption">Shyam Verma</div>
                        <div class="caption">13/07/1988</div>
                        <div class="caption gender">M</div>
                        <div class="caption edit_feilds" style="border-right: none;">
                            <button (click)="editFormFeild()"><img src="assets/img/edit-button.png" alt=""><span class="d-xl-block d-lg-block d-md-block d-none">Edit</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>